Repository derekross/zappix: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-staged:prettier, npm run lint-staged:sortier, npm run lint-staged:eslint

fix: security fixes, bug fixes, and refactors across 27 files
  package.json
  src/App.tsx
  src/components/BookmarksPage.tsx
  src/components/CreatePostDialog.tsx
  src/components/ImageFeed.tsx
  src/components/PWAUpdatePrompt.tsx
  src/components/PublicUserProfilePage.tsx
  src/components/UserImageGrid.tsx
  src/components/UserVideoGrid.tsx
  src/components/VideoFeed.tsx
  src/components/VideoPost.tsx
  src/components/VideoPostActions.tsx
  src/components/ZapDialog.tsx
  src/components/auth/LoginDialog.tsx
  src/components/auth/SignupDialog.tsx
  src/contexts/NotificationContext.tsx
  src/contexts/VideoFeedContext.tsx
  src/hooks/useAllVideoPosts.ts
  src/hooks/useDeletedEvents.ts
  src/hooks/useImagePosts.ts
  src/hooks/useMemoryMonitor.ts
  src/hooks/useNWC.ts
  src/hooks/useOutboxModel.ts
  src/hooks/useUserImagePosts.ts
  src/hooks/useUserVideoPosts.ts
  src/hooks/useZaps.ts
  src/lib/genUserName.ts
  src/lib/mediaUtils.ts
Due: npm run lint-staged:prettier, npm run lint-staged:sortier, npm run lint-staged:eslint

fix: update zapstore.yaml to match zsp config spec
  zapstore.yaml
Due: none

chore: add .env to gitignore
  .gitignore
Due: none

fix: security, performance, and correctness fixes across 31 files
  package-lock.json
  src/AppRouter.tsx
  src/components/ImageFeed.tsx
  src/components/ImagePost.test.tsx
  src/components/ImagePost.tsx
  src/components/MainLayout.test.tsx
  src/components/NoteContent.tsx
  src/components/NotificationList.tsx
  src/components/VideoFeed.tsx
  src/components/VideoPost.tsx
  src/components/ZapConfiguration.tsx
  src/components/ZapDialog.tsx
  src/hooks/useAllVideoPosts.ts
  src/hooks/useAuthors.ts
  src/hooks/useComments.ts
  src/hooks/useDeletedEvents.ts
  src/hooks/useImagePosts.ts
  src/hooks/useLocalStorage.ts
  src/hooks/useLoggedInAccounts.ts
  src/hooks/useNWC.ts
  src/hooks/useNotifications.ts
  src/hooks/useOptimizedContentLoader.ts
  src/hooks/useOptimizedProfileCache.ts
  src/hooks/useReactions.ts
  src/hooks/useUserImagePosts.ts
  src/hooks/useUserVideoPosts.ts
  src/hooks/useWallet.ts
  src/hooks/useZaps.ts
  src/lib/poolManager.ts
  src/test/TestApp.tsx
  src/test/setup.ts
Due: npm run lint-staged:prettier, npm run lint-staged:sortier, npm run lint-staged:eslint

chore: bump version to 2.7.8 (versionCode 10)
  android/app/build.gradle
  package-lock.json
  package.json
Due: npm run lint-staged:prettier, npm run lint-staged:sortier

ci: deploy with rsync --delete instead of scp
  .github/workflows/deploy.yml
Due: npm run lint-staged:prettier

Add MIT license file
  LICENSE
  package.json
Due: npm run lint-staged:prettier, npm run lint-staged:sortier

Path conditions:
  npm run lint-staged:prettier: (((any of: **/*.css) or (any of: **/*.{json,md,yml})) or (any of: **/*.{ts,tsx})) or (any of: *.js)
  npm run lint-staged:sortier: ((any of: **/*.{ts,tsx}) or (any of: *.js)) or (any of: package.json)
  npm run lint-staged:eslint: (any of: **/*.{ts,tsx}) or (any of: *.js)
